<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.hinokiradiobridge"
    android:sharedUserId="android.uid.phone">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:directBootAware="true"
        android:hasCode="true"
        android:label="Hinoki radio bridge"
        android:persistent="true">
        <uses-library
            android:name="mediatek-telephony-common"
            android:required="true" />

        <service
            android:name=".HinokiRadioBridgeService"
            android:directBootAware="true"
            android:exported="false" />

        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
