# ==============================================
# MTK Policy Rule
# ==============================================

# system_internal_prop      -- Properties used only in /system
# system_restricted_prop    -- Properties which can't be written outside system
# system_public_prop        -- Properties with no restrictions
# system_vendor_config_prop -- Properties which can be written only by vendor_init
# vendor_internal_prop      -- Properties used only in /vendor
# vendor_restricted_prop    -- Properties which can't be written outside vendor
# vendor_public_prop        -- Properties with no restrictions

# Properties used only in /vendor
type ctl_gsm0710muxd_prop, property_type;
type ctl_gsm0710muxd-s_prop, property_type;
type ctl_gsm0710muxd-d_prop, property_type;
type ctl_viarild_prop, property_type;
type ctl_ril-daemon-mtk_prop, property_type;
type ctl_fusion_ril_mtk_prop, property_type;
type ctl_ril-daemon-s_prop, property_type;
type ctl_ril-daemon-d_prop, property_type;
type ctl_ril-proxy_prop, property_type;
type ctl_ccci_fsd_prop, property_type;
type ctl_ccci2_fsd_prop, property_type;
type ctl_ccci3_fsd_prop, property_type;
type ctl_muxreport-daemon_prop, property_type;
type ctl_emcsmdlogger_prop, property_type;
type ctl_eemcs_fsd_prop, property_type;
type mtk_powerhal_prop, property_type;
type mtk_wfc_serv_prop, property_type;
type ctl_mdlogger_prop, property_type;
type ctl_emdlogger1_prop, property_type;
type ctl_emdlogger2_prop, property_type;
type ctl_emdlogger3_prop, property_type;
type ctl_dualmdlogger_prop, property_type;
type init_svc_emdlogger1_prop, property_type;
type init_svc_aee_aedv_prop, property_type;

# Properties which can't be written outside vendor
type mtk_nn_option_prop, property_type;
type mtk_volte_prop, property_type;
type mtk_cxp_vendor_prop, property_type;
type mtk_antutu_prop, property_type;
type mtk_ss_vendor_prop, property_type;
type atm_ipaddr_prop, property_type;
type mtkcam_prop, property_type;
type graphics_hwc_hdr_prop, property_type;
type graphics_hwc_latch_unsignaled_prop, property_type;
type graphics_hwc_pid_prop, property_type;
type mtk_thermal_config_prop, property_type;
type mtk_telephony_sensitive_prop, property_type;
type meta_connecttype_prop, property_type;
type mtk_debug_md_reset_prop, property_type;
type wmt_prop, property_type;
type ril_active_md_prop, property_type;
type vendor_usb_prop, property_type;
type tel_switch_prop, property_type;
type mtk_nvram_ready_prop, property_type;
type mtk_wifi_hotspot_prop, property_type;
type mtk_hdmi_prop, property_type;
type mtk_default_prop, property_type;
type vendor_ril_ipo_prop, property_type;
type gsm0710muxd_prop, property_type;
type mtk_wifi_prop, property_type;
type persist_mtk_aeev_prop, property_type;
type persist_aeev_prop, property_type;
type debug_mtk_aeev_prop, property_type;
type ro_mtk_aee_prop, property_type;
type ril_mux_report_case_prop, property_type;
type ril_cdma_report_prop, property_type;
type mtk_md_prop, property_type;
type mnld_prop, property_type;
type audiohal_prop, property_type;
type coredump_prop, property_type;
type net_cdma_mdmstat, property_type;
type persist_bt_prop, property_type;
type vendor_factory_idle_state_prop, property_type;
type service_nvram_init_prop, property_type;
type persist_net_wo_prop, property_type;
type persist_first_boot_prop, property_type;
type wifi_5g_prop, property_type;
type ims_ipsec_prop, property_type;
type mtk_em_prop, property_type;
type mediatek_prop, property_type;
type mtk_em_hidl_prop, property_type;
type mtk_operator_id_prop, property_type;
type mtk_simswitch_emmode_prop, property_type;
type mtk_dsbp_support_prop, property_type;
type mtk_imstestmode_prop, property_type;
type mtk_smsformat_prop, property_type;
type mtk_gprs_prefer_prop, property_type;
type mtk_testsim_cardtype_prop, property_type;
type mtk_ct_ir_engmode_prop, property_type;
type mtk_disable_c2k_cap_prop, property_type;
type mtk_omx_log_prop, property_type;
type mtk_vdec_log_prop, property_type;
type mtk_vdectlc_log_prop, property_type;
type mtk_venc_h264_showlog_prop, property_type;
type mtk_modem_warning_prop, property_type;
type ctl_mobile_log_d_prop, property_type;
type ctl_mnld_prop, property_type;
type ctl_mobicore_prop, property_type;
type atm_mdmode_prop, property_type;
type vendor_radio_prop, property_type;
type mtk_ct_volte_prop, property_type;
type mtk_ril_mode_prop, property_type;
type mtk_gps_support_prop, property_type;
type mtk_rat_config_prop, property_type;
type mtk_aal_ro_prop, property_type;
type mtk_pq_ro_prop, property_type;
type mtk_pq_prop, property_type;
type mtk_emmc_support_prop, property_type;
type vendor_em_usb_prop, property_type;
type vendor_usb_otg_switch, property_type;
type mtk_anr_support_prop, property_type;
type mtk_appresolutiontuner_prop, property_type;
type mtk_fullscreenswitch_prop, property_type;
type mtk_malloc_debug_backtrace_prop, property_type;
type mtk_voicerecgnize_prop, property_type;
type persist_service_atci_prop, property_type;
type mtk_atci_prop, property_type;
type mtk_net_ipv6_prop, property_type;
type usp_prop, property_type;
type mtk_md_version_prop, property_type;
type mtk_bt_sap_enable_prop, property_type;

# Properties used only in /system
type debug_mtklog_prop, property_type;
type persist_mtklog_prop, property_type;
type debug_netlog_prop, property_type;
type debug_mdlogger_prop, property_type;
type vendor_mdl_prop, property_type;
type vendor_mdl_start_prop, property_type;
type persist_mdlog_prop, property_type;
type vendor_mdl_pulllog_prop, property_type;
type persist_aee_prop, property_type;
type debug_mtk_aee_prop, property_type;
type debug_bq_dump_prop, property_type;
type bootani_prop, property_type;
type mobile_log_prop, property_type;
type mtk_em_sys_prop, property_type;
type mtk_em_net_auto_tethering_prop, property_type;
type mtk_bgdata_disabled, property_type;
type mtk_telecom_vibrate, property_type;
type mtk_gprs_attach_type, property_type;
type mtk_power_off_md_type, property_type;
type vendor_connsysfw_prop, property_type;
type vendor_bluetooth_prop, property_type;
type vendor_sim_system_prop, property_type;
type persist_xcap_rawurl_prop, property_type;
type usp_srv_prop, property_type;
type logmuch_prop, property_type;

# Properties with no restrictions
type persist_mtk_aee_prop, property_type;
type mtk_amslog_prop, property_type;

# Properties with can be read by all domains
typeattribute mtk_default_prop                mtk_core_property_type;
typeattribute vendor_ril_ipo_prop             mtk_core_property_type;
typeattribute gsm0710muxd_prop                mtk_core_property_type;
typeattribute mtk_wifi_prop                   mtk_core_property_type;
typeattribute persist_mtk_aeev_prop           mtk_core_property_type;
typeattribute persist_aeev_prop               mtk_core_property_type;
typeattribute debug_mtk_aeev_prop             mtk_core_property_type;
typeattribute ro_mtk_aee_prop                 mtk_core_property_type;
typeattribute ril_active_md_prop              mtk_core_property_type;
typeattribute ril_mux_report_case_prop        mtk_core_property_type;
typeattribute ril_cdma_report_prop            mtk_core_property_type;
typeattribute mtk_md_prop                     mtk_core_property_type;
typeattribute tel_switch_prop                 mtk_core_property_type;
typeattribute mnld_prop                       mtk_core_property_type;
typeattribute audiohal_prop                   mtk_core_property_type;
typeattribute wmt_prop                        mtk_core_property_type;
typeattribute coredump_prop                   mtk_core_property_type;
typeattribute net_cdma_mdmstat                mtk_core_property_type;
typeattribute persist_bt_prop                 mtk_core_property_type;
typeattribute vendor_factory_idle_state_prop  mtk_core_property_type;
typeattribute service_nvram_init_prop         mtk_core_property_type;
typeattribute persist_net_wo_prop             mtk_core_property_type;
typeattribute persist_first_boot_prop         mtk_core_property_type;
typeattribute wifi_5g_prop                    mtk_core_property_type;
typeattribute ims_ipsec_prop                  mtk_core_property_type;
typeattribute mtk_em_prop                     mtk_core_property_type;
typeattribute mediatek_prop                   mtk_core_property_type;
typeattribute mtk_em_hidl_prop                mtk_core_property_type;
typeattribute mtk_operator_id_prop            mtk_core_property_type;
typeattribute mtk_simswitch_emmode_prop       mtk_core_property_type;
typeattribute mtk_dsbp_support_prop           mtk_core_property_type;
typeattribute mtk_imstestmode_prop            mtk_core_property_type;
typeattribute mtk_smsformat_prop              mtk_core_property_type;
typeattribute mtk_gprs_prefer_prop            mtk_core_property_type;
typeattribute mtk_testsim_cardtype_prop       mtk_core_property_type;
typeattribute mtk_ct_ir_engmode_prop          mtk_core_property_type;
typeattribute mtk_disable_c2k_cap_prop        mtk_core_property_type;
typeattribute mtk_debug_md_reset_prop         mtk_core_property_type;
typeattribute mtk_omx_log_prop                mtk_core_property_type;
typeattribute mtk_vdec_log_prop               mtk_core_property_type;
typeattribute mtk_vdectlc_log_prop            mtk_core_property_type;
typeattribute mtk_venc_h264_showlog_prop      mtk_core_property_type;
typeattribute mtk_modem_warning_prop          mtk_core_property_type;
typeattribute vendor_radio_prop               mtk_core_property_type;
typeattribute mtk_ct_volte_prop               mtk_core_property_type;
typeattribute mtk_ril_mode_prop               mtk_core_property_type;
typeattribute mtk_ss_vendor_prop              mtk_core_property_type;
typeattribute mtk_gps_support_prop            mtk_core_property_type;
typeattribute mtk_rat_config_prop             mtk_core_property_type;
typeattribute mtk_aal_ro_prop                 mtk_core_property_type;
typeattribute mtk_pq_ro_prop                  mtk_core_property_type;
typeattribute mtk_pq_prop                     mtk_core_property_type;
typeattribute mtk_emmc_support_prop           mtk_core_property_type;
typeattribute vendor_em_usb_prop              mtk_core_property_type;
typeattribute vendor_usb_otg_switch           mtk_core_property_type;
typeattribute mtk_anr_support_prop            mtk_core_property_type;
typeattribute mtk_appresolutiontuner_prop     mtk_core_property_type;
typeattribute mtk_fullscreenswitch_prop       mtk_core_property_type;
typeattribute mtk_antutu_prop                 mtk_core_property_type;
typeattribute mtk_malloc_debug_backtrace_prop mtk_core_property_type;
typeattribute mtk_voicerecgnize_prop          mtk_core_property_type;
typeattribute persist_service_atci_prop       mtk_core_property_type;
typeattribute mtk_atci_prop                   mtk_core_property_type;
typeattribute mtk_net_ipv6_prop               mtk_core_property_type;
typeattribute usp_prop                        mtk_core_property_type;
typeattribute mtk_cxp_vendor_prop             mtk_core_property_type;
typeattribute mtk_md_version_prop             mtk_core_property_type;
typeattribute mtk_volte_prop                  mtk_core_property_type;
typeattribute mtk_bt_sap_enable_prop          mtk_core_property_type;
typeattribute mtk_nvram_ready_prop            mtk_core_property_type;
typeattribute mtk_wifi_hotspot_prop           mtk_core_property_type;
typeattribute mtk_hdmi_prop                   mtk_core_property_type;

# Properties with can't be accessed by device-sepcific domains
typeattribute debug_mtklog_prop              extended_core_property_type;
typeattribute persist_mtklog_prop            extended_core_property_type;
typeattribute debug_netlog_prop              extended_core_property_type;
typeattribute debug_mdlogger_prop            extended_core_property_type;
typeattribute vendor_mdl_prop                extended_core_property_type;
typeattribute vendor_mdl_start_prop          extended_core_property_type;
typeattribute persist_mdlog_prop             extended_core_property_type;
typeattribute vendor_mdl_pulllog_prop        extended_core_property_type;
typeattribute persist_mtk_aee_prop           extended_core_property_type;
typeattribute persist_aee_prop               extended_core_property_type;
typeattribute debug_mtk_aee_prop             extended_core_property_type;
typeattribute debug_bq_dump_prop             extended_core_property_type;
typeattribute bootani_prop                   extended_core_property_type;
typeattribute mobile_log_prop                extended_core_property_type;
typeattribute mtk_em_sys_prop                extended_core_property_type;
typeattribute mtk_em_net_auto_tethering_prop extended_core_property_type;
typeattribute mtk_bgdata_disabled            extended_core_property_type;
typeattribute mtk_telecom_vibrate            extended_core_property_type;
typeattribute mtk_gprs_attach_type           extended_core_property_type;
typeattribute mtk_power_off_md_type          extended_core_property_type;
typeattribute vendor_connsysfw_prop          extended_core_property_type;
typeattribute vendor_bluetooth_prop          extended_core_property_type;
typeattribute vendor_sim_system_prop         extended_core_property_type;
typeattribute persist_xcap_rawurl_prop       extended_core_property_type;
typeattribute usp_srv_prop                   extended_core_property_type;
typeattribute mtk_amslog_prop                extended_core_property_type;
typeattribute logmuch_prop                   extended_core_property_type;
